#jogo {
  position: relative;
  width: 800px;
  height: 300px;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to top,#dff6ff 0%,#a8e0ff 40%,#79c7ff 70%,#4aa3df 100%);
}

#telaInicial {
  position: absolute;
  width: 800px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#telaGameOver {
  position: absolute;
  width: 800px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
}

#pinguim {
  position: absolute;
  width: 60px;
  height: auto;
  bottom: 20px;
  left: 50px;
}

.obstaculo {
  position: absolute;
  width: 40px;
  height: 60px;
  bottom: 14px;
  left: 800px;
}

#peixe {
  position: absolute;
  width: 30px;
  height: auto;
  left: 800px;
  bottom: 70px;
  z-index: 1;
}

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to top,#133365 0%, #2657b2 18%, #308ecd 35%, #3b9fe7 48%, #5cbbee 65%, #dff6ff 70%,#a8e0ff 76%,#79c7ff 88%,#4aa3df 100%);
  font-family: Arial, sans-serif;
}

#itens, #tempo {
  text-align: center;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #1f3c88;
  color: white;
  font-size: 18px;
  transition: 0.2s;
}

#controles {
  width: 800px;
  margin: 10px auto;
  text-align: center;
}

button:hover {
  background-color: #2952b3;
}

#nuvens {
  position: absolute;
  top: 0;
  left: 0;
  width: 760px; 
  height: 100px;
}

#nuvens1 {
  position: absolute;
  top: 0;
  left: 760px;
  width: 760px;
  height: 100px;
}

#montanha {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 300px;
}

#montanha1 {
  position: absolute;
  bottom: -50px;
  left: 300px;
  width: 300px;
}

#arvore {
  position: absolute;
  bottom: 16px;
  left: 400px;
  width: 150px;
}

#arvore1 {
  position: absolute;
  bottom: 16px;
  left: 550px;
  width: 150px;
}

#chao {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 30px;
  display: block;
}